@font-face {
  font-family: Averta Std;
  src: url("../Fonts/AvertaStd-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Averta regular;
  src: url("../Fonts/AvertaStd-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: clip;
}

* {
  font-family: Averta Std;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.modal-closed {
  display: none;
}

.modal-open {
  padding: 32px 56px;
  z-index: 9999;
  background: #ffffff;
  opacity: 0.96;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  top: 0px;
}
.modal-open .Modal-Image {
  width: 100%;
  display: flex;
}
.modal-open .Modal-Text {
  width: 612px;
}
.modal-open .Modal-Text h2 {
  color: #242625;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.modal-open .Modal-Text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  font-family: Averta regular;
}
.modal-open .Modal-Button {
  width: 100%;
  margin-right: 164px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 56px;
}

.Container-All {
  width: 100vw;
}

.Contain-All {
  width: 100%;
}

.Container-Banner, Container-Navigation,
.Container-Accordions, .Container-Space, .Container-vacancies, Container-explore-opportunities {
  overflow-x: clip;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Container-Header-Mobile {
  height: 90px;
  position: absolute;
}

.Container-Header-Desktop {
  display: none;
}

.Container-Banner {
  align-items: flex-end;
  top: 0;
}
.Container-Banner .Banner {
  width: 100%;
  height: 256px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  background-image: url("../Images/BannerMobile.png");
  border-radius: 0 0 0 24px;
}
.Container-Banner .Text-Banner {
  display: flex;
  align-items: center;
  width: 336px;
  height: 96px;
  margin-top: -48px;
  border-radius: 16px 0 0 16px;
  background: linear-gradient(225deg, #079D56 0%, #006B3F 100%);
}
.Container-Banner .Text-Banner h1 {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  font-style: normal;
  margin-left: 16px;
  width: 176px;
}

.Container-contents {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Container-Navigation {
  margin-bottom: 24px;
}
.Container-Navigation .Contain-Navigation {
  display: flex;
  align-items: center;
}
.Container-Navigation .Contain-Navigation > img {
  margin-right: 5px;
  margin-bottom: 5px;
}
.Container-Navigation .Contain-Navigation > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  font-family: Averta regular;
  font-weight: bold;
  color: #006B3F !important;
  margin: 0 5px;
}

.Container-explore-opportunities .Container-cta-Career {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Container-explore-opportunities .Container-cta-Career #flag {
  cursor: pointer;
}
.Container-explore-opportunities .Container-cta-Career > img, .Container-explore-opportunities .Container-cta-Career .Row-cta-Carrer {
  padding-bottom: 24px;
}
.Container-explore-opportunities .Container-Text-Career > h2 {
  color: #242625;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal;
  width: 245px;
}
.Container-explore-opportunities .Container-Text-Career > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  font-family: Averta regular;
  margin: 8px 0px 24px 0px;
}
.Container-explore-opportunities .Container-cta-vacancies button {
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
}

.Container-Accordions {
  margin-top: 40px;
}
.Container-Accordions .Contain-Accordions-Descktop {
  display: none;
}
.Container-Accordions > h2 {
  margin-bottom: 4px;
  color: #242625;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  font-style: normal;
}
.Container-Accordions > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  font-family: Averta regular;
  margin-bottom: 16px;
}
.Container-Accordions .Accordion-Item {
  border-bottom: solid 2px #006B3F;
  margin-bottom: 24px;
}
.Container-Accordions .Accordion-Item > input {
  display: none;
}
.Container-Accordions .Accordion-Item > label {
  color: #006B3F;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  border: none;
  background: transparent;
  cursor: pointer;
  padding-bottom: 16px;
}
.Container-Accordions .Accordion-Item > label:after {
  content: url(../Images/arrow-up.svg);
  float: right;
}
.Container-Accordions .Accordion-Item [id^=accordion]:checked ~ .accordion-content {
  height: 100px;
}
.Container-Accordions .Accordion-Item [id^=accordion]:checked ~ label:after {
  content: url(../Images/arrow-down.svg);
  float: right;
}
.Container-Accordions .Accordion-Item .accordion-content {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.Container-Accordions .Accordion-Item .accordion-content > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  font-family: Averta regular;
}

.Container-Space .Container-Space-Text > h2 {
  color: #242625;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
  margin-top: 16px;
}
.Container-Space .Container-Space-Text > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  font-family: Averta regular;
}
.Container-Space .Conter-Slider {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Container-Space .Conter-Slider .Container-Slide {
  display: flex;
  position: relative;
  width: 312px;
}
.Container-Space .Conter-Slider .Container-Slide > button {
  width: 48px !important;
  height: 48px !important;
  position: absolute;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  top: calc(50% - 24px);
}
.Container-Space .Conter-Slider .Container-Slide > button:first-child {
  background-image: url(../Images/left.svg) !important;
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 0 8px 8px 0;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
  left: 0;
}
.Container-Space .Conter-Slider .Container-Slide > button:last-child {
  background-image: url(../Images/right.svg) !important;
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 8px 0px 0 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
  right: 0;
}
.Container-Space .Conter-Slider .Container-Slide .Slide {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
.Container-Space .Conter-Slider .Container-Slide .Slide .Slide-Item {
  background-image: url("../Images/ImagemSlide.png");
  scroll-snap-align: start;
  border-radius: 16px;
  width: 312px;
  height: 176px;
  min-height: 176px;
  min-width: 312px;
}

.Container-Vacancies {
  margin-top: 40px;
}
.Container-Vacancies .First-Vacancies > h2 {
  color: #242625;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
}
.Container-Vacancies .First-Vacancies > p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  font-family: Averta regular;
  margin-bottom: 16px;
}
.Container-Vacancies .Second-Vacancies, .Container-Vacancies .Third-Vacancies {
  display: none;
}
.Container-Vacancies .form .Form-Row {
  margin-bottom: 16px;
}
.Container-Vacancies .form .Form-Row > input, .Container-Vacancies .form .Form-Row > select {
  border: 2px solid #5D615F;
  box-sizing: border-box;
  border-radius: 8px;
  width: 312px;
  height: 40px;
  font-family: Averta regular;
  font-weight: 400;
}
.Container-Vacancies .form .Form-Row > label {
  color: #242625;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
}
.Container-Vacancies .Container-Vacancies-CTA {
  display: flex;
  justify-content: center;
}
.Container-Vacancies .Container-Vacancies-CTA > button {
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
}
.Container-Vacancies .Container-Vacancies-CTA > button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

.footer {
  display: none;
}

@font-face {
  font-family: Averta Std;
  src: url("../Fonts/AvertaStd-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Averta regular;
  src: url("../Fonts/AvertaStd-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 2023px) {
  .Contain-All {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1023px) {
  .Contain-All .Container-Header-Mobile > img {
    display: none;
  }
  .Contain-All header {
    height: 90px;
    display: flex;
    justify-content: center;
    padding: 24px 56px 0px 56px;
    z-index: 999;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
  }
  .Contain-All .Container-Header-Desktop {
    max-width: 1248px;
    width: 1248px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .Contain-All .Container-Header-Desktop .First-Accessibility {
    display: flex;
  }
  .Contain-All .Container-Header-Desktop .Contain-Imgs {
    display: flex;
    align-items: flex-end;
  }
  .Contain-All .Container-Header-Desktop .Contain-Imgs img {
    padding-right: 4px;
  }
  .Contain-All .Container-Header-Desktop .Contain-Imgs:after {
    content: "|";
    color: gainsboro;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #242625;
    font-family: Averta regular;
    color: #d2d3d3;
    text-decoration: none;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .First-Nav {
    padding-left: 40px;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .First-Nav li {
    margin-right: 10px;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .First-Nav li:last-child {
    margin-right: 0px;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .First-Nav li:hover {
    border-bottom: 2px solid #006B3F;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .Second-Nav {
    width: 900px;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .Second-Nav ul {
    color: #ffffff;
    display: flex;
    height: 35px;
    background: #006B3F;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .Second-Nav ul a {
    color: #ffffff;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .Second-Nav ul li {
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #ffffff;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .Second-Nav ul li:last-child {
    padding: 0px 0px 0px 10px;
    border-right: none;
  }
  .Contain-All .Container-Header-Desktop .Header-Nav .Second-Nav ul li:first-child {
    padding: 0px 10px 0px 0px;
  }
  .Contain-All .Container-Header-Desktop li {
    display: inline;
  }
  .Contain-All .Container-Banner {
    margin-top: 192px;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .Contain-All .Container-Banner .Banner {
    background-image: url("../Images/BannerDesktop.png");
    height: 304px;
    width: 718px;
    border-radius: 0 32px 32px 0;
  }
  .Contain-All .Container-Banner .Text-Banner {
    justify-content: center;
    margin-right: -82px;
    width: 612px;
    height: 304px;
    border-radius: 32px;
  }
  .Contain-All .Container-Banner .Text-Banner > h1 {
    width: 400px;
    height: 120px;
    color: #ffffff;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    font-style: normal;
  }
  .Contain-All .Container-contents {
    max-width: 1248px;
    padding: 32px 56px;
  }
  .Contain-All .Container-contents .Contain-explore-opportunities {
    display: flex;
    justify-content: space-between;
  }
  .Contain-All .Container-contents .Contain-explore-opportunities .Container-Text-Career > h2 {
    width: 543px;
    height: 120px;
    color: #242625;
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    font-style: normal;
  }
  .Contain-All .Container-contents .Contain-explore-opportunities .Container-Text-Career > p {
    width: 612px;
    height: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #242625;
  }
  .Contain-All .Container-contents .Contain-explore-opportunities .Container-cta-Career {
    margin-right: 64px;
    margin-top: 110px;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Mobile {
    display: none;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Descktop {
    display: flex;
    justify-content: space-between;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Descktop .Accordions-Descktop-Group {
    display: flex;
    flex-direction: row;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Descktop .Contain-Accordions-Group {
    display: flex;
    flex-direction: row;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Descktop .Accordions-Column {
    width: 400px;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Descktop .Accordions-Column:first-child {
    margin-right: 24px;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Descktop .Accordion-Imagem {
    margin-right: calc((21% - 200px) * -1);
    margin-top: -8%;
  }
  .Contain-All .Container-contents .Container-Accordions .Contain-Accordions-Descktop .Accordion-Imagem img {
    position: absolute;
    right: 0px;
  }
  .Contain-All .Container-contents .Container-Space {
    flex-direction: row-reverse;
    margin-top: 100px;
  }
  .Contain-All .Container-contents .Container-Space .Container-Space-Text > h2 {
    color: #242625;
    font-size: 40px;
    line-height: 60px;
    font-weight: 700;
    font-style: normal;
    margin-top: 0 !important;
  }
  .Contain-All .Container-contents .Container-Space .Container-Space-Text > p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #242625;
    width: 612px;
  }
  .Contain-All .Container-contents .Container-Space .Conter-Slider {
    margin-top: 0;
  }
  .Contain-All .Container-contents .Container-Space .Conter-Slider .Container-Slide {
    width: 397px;
  }
  .Contain-All .Container-contents .Container-Space .Slide .Slide-Item {
    min-width: 397px;
    width: 397px;
    height: 264px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .Contain-All .Container-contents .Container-Vacancies {
    display: flex;
    margin-top: 96px;
    justify-content: space-between;
  }
  .Contain-All .Container-contents .Container-Vacancies .First-Vacancies {
    width: 546px;
  }
  .Contain-All .Container-contents .Container-Vacancies .Second-Vacancies {
    margin-top: 51px;
    margin-left: -400px;
    display: flex;
  }
  .Contain-All .Container-contents .Container-Vacancies .Third-Vacancies {
    display: flex;
    margin-right: -60px;
  }
  .Contain-All .Container-contents .Container-Vacancies .Third-Vacancies > img {
    position: absolute;
    padding-top: 150px;
    right: 0;
  }
  .Contain-All .Container-contents .Container-Vacancies .form {
    border-right: 2px solid #242625;
    display: flex;
    flex-direction: column;
  }
  .Contain-All .Container-contents .Container-Vacancies .form .Form-Row {
    display: flex;
    flex-direction: column;
  }
  .Contain-All .Container-contents .Container-Vacancies .form .Form-Row > input, .Contain-All .Container-contents .Container-Vacancies .form .Form-Row > select {
    border: 2px solid #5D615F;
    box-sizing: border-box;
    border-radius: 8px;
    width: 400px;
    height: 48px;
    font-family: Averta regular;
    font-weight: 400;
  }
  .Contain-All .Container-contents .Container-Vacancies .form .Container-Vacancies-CTA {
    width: 400px;
  }

  .footer {
    margin-top: 275px;
    display: flex;
    flex-direction: column;
  }
  .footer .Container-Social {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer .Container-Social ul {
    display: flex;
    margin-bottom: 50px;
  }
  .footer .Container-Social ul > li {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #57595b;
    border-radius: 50px;
    width: 64px;
    height: 64px;
  }
  .footer .Container-Social ul > li:hover {
    background-color: #006B3F;
  }
  .footer .Container-Social ul > li > img {
    width: 34px;
    height: 34px;
  }
  .footer .Container-Social ul > li:first-child {
    margin-left: 0;
  }
  .footer .Container-Footer-Cta {
    height: 150px;
    background-color: #006B3F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .Container-Footer-Cta .Footer-Cta-Img {
    display: flex;
    height: 100px;
    align-items: flex-start;
  }
  .footer .Container-Footer-Cta .Footer-Cta-Title > h2 {
    color: #ffffff;
    font-size: 80px;
    margin-right: 30px;
    margin-left: 10px;
  }
  .footer .Container-Footer-Cta .Footer-Cta-Text {
    width: 34%;
  }
  .footer .Container-Footer-Cta .Footer-Cta-Text > p {
    color: #ffffff;
    font-size: 30px;
  }
  .footer .Contain-Footer {
    display: flex;
    max-width: 1030px;
    width: 1030px;
    justify-content: space-between;
    border-bottom: solid #e7e8e8;
    padding-bottom: 20px;
  }
  .footer footer * {
    overflow-x: inherit !important;
  }
  .footer footer {
    padding-top: 40px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .footer footer .footer-column {
    overflow-x: inherit !important;
  }
  .footer footer .footer-column > img {
    margin-bottom: 10px;
    width: 130px;
    margin-left: -20px;
  }
  .footer footer .footer-column ul {
    overflow-x: inherit !important;
    list-style-type: square;
    color: #006B3F;
  }
  .footer footer .footer-column ul > hr {
    background-color: #006B3F;
    margin-left: -20px;
    width: 40px;
    height: 4px;
    border: none;
    margin-bottom: 8px;
  }
  .footer footer .footer-column ul > h2 {
    overflow-x: inherit !important;
    color: #555d5c;
    margin-left: -20px;
  }
  .footer footer .footer-column ul > span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #242625;
    font-family: Averta regular;
    color: #555d5c;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .footer footer .footer-column ul > li {
    line-height: 21px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e7e8e8;
  }
  .footer footer .footer-column ul > li:last-child {
    border-bottom: none;
  }
  .footer footer .footer-column ul > li > a {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #242625;
    font-family: Averta regular;
    color: #d3d6d4;
    font-weight: bold;
  }
  .footer footer .Footer-Infos {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer footer .Footer-Infos > ul > li {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #d2dace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #242625;
    font-family: Averta regular;
    color: #d3d6d4;
  }
  .footer footer .Footer-Infos > ul > li:last-child {
    border-right: none;
  }
  .footer footer .Footer-Infos > ul > li:first-child {
    padding-left: none;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  .Container-Vacancies .form .Form-Row {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=index.css.map */
