* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.Container-All {
  width: 100vw;
}

.Contain-All {
  width: 100%;
}

.Container-Banner, Container-Navigation,
.Container-Accordions, .Container-Space, .Container-vacancies, Container-explore-opportunities {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Container-Header {
  z-index: 9999;
  height: 90px;
  position: absolute;
}

.Container-Banner {
  align-items: flex-end;
  top: 0;
}
.Container-Banner .Banner {
  width: 100%;
  height: 256px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  background-image: url("../Images/BannerMobile.png");
  border-radius: 0 0 0 24px;
}
.Container-Banner .Text-Banner {
  display: flex;
  align-items: center;
  width: 336px;
  height: 96px;
  margin-top: -48px;
  border-radius: 16px 0 0 16px;
  background: linear-gradient(225deg, #079D56 0%, #006B3F 100%);
}
.Container-Banner .Text-Banner h1 {
  font-family: Averta Std;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  font-style: normal;
  margin-left: 16px;
  width: 176px;
}

.Container-contents {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.Container-explore-opportunities .Container-cta-Career {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Container-explore-opportunities .Container-cta-Career > img, .Container-explore-opportunities .Container-cta-Career .Row-cta-Carrer {
  padding-bottom: 24px;
}
.Container-explore-opportunities .Container-Text-Career > h2 {
  font-family: Averta Std;
  color: #242625;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  font-style: normal;
  width: 245px;
}
.Container-explore-opportunities .Container-Text-Career > p {
  font-family: Averta Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  margin: 8px 0px 24px 0px;
}
.Container-explore-opportunities .Container-cta-vacancies button {
  font-family: Averta Std;
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
}

.Container-Accordions {
  margin-top: 40px;
}
.Container-Accordions > h2 {
  margin-bottom: 4px;
  font-family: Averta Std;
  color: #242625;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  font-style: normal;
}
.Container-Accordions > p {
  font-family: Averta Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  margin-bottom: 16px;
}
.Container-Accordions .Accordion-Item {
  border-bottom: solid 2px #006B3F;
  margin-bottom: 24px;
}
.Container-Accordions .Accordion-Item > input {
  display: none;
}
.Container-Accordions .Accordion-Item > label {
  font-family: Averta Std;
  color: #006B3F;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  border: none;
  background: transparent;
  cursor: pointer;
  padding-bottom: 16px;
}
.Container-Accordions .Accordion-Item > label:after {
  content: url(../Images/arrow-up.svg);
  float: right;
}
.Container-Accordions .Accordion-Item [id^=accordion]:checked ~ .accordion-content {
  height: 100px;
}
.Container-Accordions .Accordion-Item [id^=accordion]:checked ~ label:after {
  content: url(../Images/arrow-down.svg);
  float: right;
}
.Container-Accordions .Accordion-Item .accordion-content {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.Container-Accordions .Accordion-Item .accordion-content > p {
  font-family: Averta Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
}

.Container-Space .Conter-Slider {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Container-Space .Conter-Slider .Container-Slide {
  display: flex;
  position: relative;
  width: 312px;
}
.Container-Space .Conter-Slider .Container-Slide > button {
  width: 48px !important;
  height: 48px !important;
  position: absolute;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  top: calc(50% - 24px);
}
.Container-Space .Conter-Slider .Container-Slide > button:first-child {
  background-image: url(../Images/left.svg) !important;
  font-family: Averta Std;
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 0 8px 8px 0;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
  left: 0;
}
.Container-Space .Conter-Slider .Container-Slide > button:last-child {
  background-image: url(../Images/right.svg) !important;
  font-family: Averta Std;
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 8px 0px 0 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
  right: 0;
}
.Container-Space .Conter-Slider .Container-Slide .Slide {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
.Container-Space .Conter-Slider .Container-Slide .Slide .Slide-Item {
  background-image: url("../Images/ImagemSlide.png");
  scroll-snap-align: start;
  border-radius: 16px;
  width: 312px;
  height: 176px;
  min-height: 176px;
  min-width: 312px;
}

.Container-Vacancies {
  margin-top: 40px;
}
.Container-Vacancies > h2 {
  font-family: Averta Std;
  color: #242625;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
}
.Container-Vacancies > p {
  font-family: Averta Std;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #242625;
  margin-bottom: 16px;
}
.Container-Vacancies .form .Form-Row {
  margin-bottom: 16px;
}
.Container-Vacancies .form .Form-Row > input, .Container-Vacancies .form .Form-Row > select {
  border: 2px solid #5D615F;
  box-sizing: border-box;
  border-radius: 8px;
  width: 312px;
  height: 40px;
}
.Container-Vacancies .form .Form-Row > label {
  font-family: Averta Std;
  color: #242625;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 4px;
}
.Container-Vacancies .Container-Vacancies-CTA {
  display: flex;
  justify-content: center;
}
.Container-Vacancies .Container-Vacancies-CTA > button {
  font-family: Averta Std;
  padding: 0px 16px;
  width: 146px;
  height: 48px;
  background: #006B3F;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  color: white;
}

/*# sourceMappingURL=index.css.map */
