$primary-green: #079D56;
$second-green: #006B3F;
$withe-text : #ffffff;
$black-text : #242625;
*{
    font-family: Averta Std;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
@mixin Call-To-Action($text-color, $line-height, $weight) {
    color: $text-color;
    font-size: 18px;
    line-height: $line-height;
    font-weight: $weight;
    font-style: normal;
}
@mixin Call-To-Action-Descktop ($text-color, $line-height, $weight){
    color: $text-color;
    font-size: 40px;
    line-height: $line-height;
    font-weight: $weight;
    font-style: normal;
}
@mixin text (){
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $black-text;
}
@mixin textDesktop (){
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $black-text;
}
@mixin buttons($radius) {
    padding: 0px 16px;
    width: 146px;
    height: 48px;
    background: $second-green;
    border-radius: $radius ;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: white;
}
@mixin inputs {
    border: 2px solid #5D615F;
    box-sizing: border-box;
    border-radius: 8px;
    width: 312px;
    height: 40px;
}
.Container-All{
    width: 100vw;
}
.Contain-All{
    width: 100%;
}
.Container-Banner, Container-Navigation, 
.Container-Accordions, .Container-Space, .Container-vacancies,Container-explore-opportunities{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Container-Header{
    z-index: 9999;
    height: 90px;
    position: absolute;
}
.Container-Banner{
    align-items: flex-end;
    top:0;
    .Banner{
        width: 100%;
        height: 256px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-size: cover;
        background-image: url("../Images/BannerMobile.png");
        border-radius: 0 0 0 24px;
    }
    .Text-Banner{
        display: flex;
        align-items: center;
        width: 336px;
        height: 96px;
        margin-top: calc(-96px/2);
        border-radius: 16px 0 0 16px;
        background: linear-gradient(225deg, $primary-green 0%, $second-green 100%);
        h1{
            @include Call-To-Action($withe-text, 22px, bold);
            margin-left: 16px;
            width: 176px;
        }
    }
}
.Container-contents{
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.Container-Navigation{
    margin-bottom: 24px;
    .Contain-Navigation{
        display: flex;
        align-items: center;
        > img {
            margin-right: 5px;
            margin-bottom: 5px;
        }
        > a{
            @include text();
            font-weight: bold;
            color: $second-green !important;
            margin: 0 05px;
        } 
    }
}
.Container-explore-opportunities{
    .Container-cta-Career{
        display: flex;
        flex-direction: column;
        align-items: center;
        > img, .Row-cta-Carrer{
            padding-bottom: 24px;
        }
    }
    .Container-Text-Career{
        > h2{
            @include Call-To-Action($black-text, 27px, bold);
            width: 245px;
        }
        > p {
            @include text();
            margin: 8px 0px 24px 0px;
        }
    }
    .Container-cta-vacancies{
        button{
            @include buttons(8px);
        }
    }

}
.Container-Accordions{
    margin-top:40px;
    > h2 {
       margin-bottom:4px; 
       @include Call-To-Action($black-text, 27px, 700);
    }
    > p {
        @include text();
        margin-bottom: 16px;
    }
    .Accordion-Item{
        border-bottom: solid 2px $second-green ;
        margin-bottom: 24px;
        > input{
            display:none;
        }
        > label{
            @include Call-To-Action($second-green, 16px, 700 );
            display:flex;
            justify-content: space-between;
            border:none;
            background: transparent;
            cursor:pointer;
            padding-bottom: 16px;
            &:after {
                content: url(../Images/arrow-up.svg);
                float: right;
              }
        }
        [id^=accordion]:checked ~ .accordion-content {
            height: 100px;
        }
        [id^=accordion]:checked ~ label:after{
            content: url(../Images/arrow-down.svg);
            float: right;
        }
        .accordion-content{
            height: 0px;
            overflow: hidden;
            -webkit-transition: height 0.3s ease-in-out;
            -moz-transition: height 0.3s ease-in-out;
            -o-transition: height 0.3s ease-in-out;
            -ms-transition: height 0.3s ease-in-out;
            transition: height 0.3s ease-in-out;
            >p{
                @include text();
            }
         }
    }
}
.Container-Space{
    .Conter-Slider{
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        .Container-Slide{
            display: flex;
            position: relative;
            width: 312px;
            > button {
                width: 48px !important;
                height: 48px !important;
                position: absolute;
                background-repeat: no-repeat !important;
                background-position: center center !important;
                top: calc(50% - (48px/2));
                &:first-child{
                    background-image: url(../Images/left.svg) !important;
                    @include buttons(0 8px 8px 0);
                    left: 0;
                }
                &:last-child{
                    background-image: url(../Images/right.svg) !important;
                    @include buttons(8px 0px 0 8px);
                    right: 0;
                }
            }
            .Slide{
                width: 100%;
                max-width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                white-space: nowrap;
                overflow: hidden; 
                scroll-snap-type: x mandatory;
                .Slide-Item{
                    background-image: url('../Images/ImagemSlide.png');
                    scroll-snap-align: start;
                    border-radius: 16px;
                    width:312px;
                    height:176px;
                    min-height: 176px;
                    min-width: 312px;
                }
            }
        }
    }
}
.Container-Vacancies{
    margin-top: 40px;
    > h2{
        @include Call-To-Action($black-text, 22px, 700 );
        margin-bottom: 4px;
    }
    > p{
        @include text();
        margin-bottom: 16px;
    }
    .form{
        .Form-Row{
            margin-bottom: 16px;
            > input, > select{
                @include inputs();
            }
            > label{
                @include Call-To-Action($black-text, 24px, 700 );
                margin-bottom: 4px;
            }
        }
    }
    .Container-Vacancies-CTA{
        display: flex;
        justify-content: center;
        > button{
            @include buttons(8px);
        }
    }
}
@media (min-width:1023px) {
    body{
        overflow-x: hidden;
    }
    .Contain-All{
        display: flex;
        flex-direction: column;
        align-items: center;
        .Container-Header{
            >img {
                display: none;
            }
        }
        .Container-Banner{
            margin-top: 48px;
            flex-direction: row-reverse;
            justify-content: center;
            .Banner{
                background-image: url("../Images/BannerDesktop.png");
                height: 304px;
                width: 718px;
                border-radius: 0 32px 32px 0;
            }
            .Text-Banner{
                justify-content: center;
                margin-right: -82px;
                width: 612px;
                height: 304px;
                border-radius: 32px;
                > h1 {
                    width: 400px;
                    height: 120px;
                    @include Call-To-Action-Descktop($withe-text, 60px, bold);
                }
            }
        }
        .Container-contents{
            max-width: 1248px;
            margin: 32px 56px;
            .Contain-explore-opportunities{
                display: flex;
                justify-content: space-between;
                .Container-Text-Career{
                    >h2{
                        width: 543px;
                        height: 120px;
                        @include Call-To-Action-Descktop($black-text, 60px, bold);
                    }
                    > p{
                        width: 612px;
                        height: 120px;
                        @include textDesktop();
                    }
                }
                .Container-cta-Career{
                    margin-right: 64px;
                }
            }
        }
    }   
}