$primary-green: #079D56;
$second-green: #006B3F;
$withe-text : #ffffff;
$black-text : #242625;

@mixin Call-To-Action($text-color, $line-height, $weight) {
    font-family: Averta Std;
    color: $text-color;
    font-size: 18px;
    line-height: $line-height;
    font-weight: $weight;
    font-style: normal;
}
@mixin text (){
    font-family: Averta Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $black-text;
}
@mixin buttons {
    font-family: Averta Std;
    padding: 0px 16px;
    width: 146px;
    height: 48px;
    background: $second-green;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    color: white;
}
@mixin inputs {
    border: 2px solid #5D615F;
    box-sizing: border-box;
    border-radius: 8px;
    width: 312px;
    height: 40px;
}
*{
    padding: 0;
    margin: 0;
}
.Container-All{
    width: 100vw;
}
.Contain-All{
    width: 100%;
}
.Container-Banner, Container-Navigation, 
.Container-Value, .Container-Space, .Container-vacancies,Container-explore-opportunities{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Container-Header{
    z-index: 9999;
    height: 90px;
    position: absolute;
}
.Container-Banner{
    align-items: flex-end;
    top:0;
    .Banner{
        width: 100%;
        height: 256px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../Images/BannerMobile.png");
        border-radius: 0 0 0 24px;
    }
    .Text-Banner{
        display: flex;
        align-items: center;
        width: 336px;
        height: 96px;
        margin-top: calc(-96px/2);
        border-radius: 16px 0 0 16px;
        background: linear-gradient(225deg, $primary-green 0%, $second-green 100%);
        h1{
            @include Call-To-Action($withe-text, 22px, bold);
            margin-left: 16px;
            width: 176px;
        }
    }
}
.Container-contents{
    margin: 24px;
}
.Container-explore-opportunities{

    .Container-cta-Career{
        display: flex;
        flex-direction: column;
        align-items: center;
        > img, .Row-cta-Carrer{
            padding-bottom: 24px;
        }
    }
    .Container-Text-Career{
        > h2{
            @include Call-To-Action($black-text, 27px, bold);
            width: 245px;
        }
        > p {
            @include text();
            margin: 8px 0px 24px 0px;
        }
    }
    .Container-cta-vacancies{
        button{
            @include buttons();
        }
    }

}
.Container-Vacancies{
    margin-top: 40px;
    > h2{
        @include Call-To-Action($black-text, 22px, 700 );
        margin-bottom: 4px;
    }
    > p{
        @include text();
        margin-bottom: 16px;
    }
    .form{
        .Form-Row{
            margin-bottom: 16px;
            > input, > select{
                @include inputs();
            }
            > label{
                @include Call-To-Action($black-text, 24px, 700 );
                margin-bottom: 4px;
            }
        }
    }
    .Container-Vacancies-CTA{
        display: flex;
        justify-content: center;
        > button{
            @include buttons();
        }
    }
}